
        .card.horizontal.medium
          .card-stacked
            .card-content
              p.
                card looks beautiful
            .card-action
              a(herf="#") Link
          .card-image
            img(src="http://lorempixel.com/100/190/nature/6")
        .section.scrollspy#first
          h1 this is first
        .section.scrollspy#second
          h1 this is second
        .section.scrollspy#third
          h1 this is  third
