block footer
  .page-footer.grey.darken-2
    .container
      .row
        .col.l6.s12
          h5.white-text Emmm....
          p.grey-text.text-lighten-4 没有。。。。那种你想的都没有
        .col.l4.offset-l2.s12
          h5.white-text Links
          ul
            li
              a.grey-text.text-lighten-3(href="http://github.com/c1tas") Github
              br
              a.grey-text.text-lighten-3(href="http://weibo.com/xunyi") Weibo
    .footer-copyright
      .container
        @ 2017 Copyright C1tas
        a.grey-text.lighten-4.right(href="#!") QAQ

