- load static
script(src="{% static 'jquery/jquery-3.2.1.js' %}")
// link(href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}", rel="stylesheet")
// link(href="{% static 'bootstrap/css/bootstrap.min.css' %}",rel="stylesheet")
// script(src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js")
// script(src="{% static 'bootstrap/js/bootstrap.min.js' %}")
// link(rel="stylesheet",href="{% static 'assets/css/wsm/dashboard.css' %}", type="text/css", charset="utf-8")
script(src="{% static 'materialize/js/bin/materialize.js' %}")
script(src="{% static 'materialize/init.js' %}")
link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet",href="{% static 'assets/blog/css/styles.css' %}")

link(rel="stylesheet",href="{% static 'materialize/sass/materialize.css' %}")


- load compress
{% compress css %}
link(rel="stylesheet",href="{% static 'assets/blog/css/sass/style.scss' %}", type="text/x-scss", charset="utf-8")
link(rel="stylesheet",href="{% static 'assets/blog/css/sass/main.sass' %}", type="text/x-sass", charset="utf-8")
{% endcompress %}
//{% compress css %}
//link(rel="stylesheet",href="{% static 'materialize/sass/materialize.scss' %}", type="text/x-scss", charset="utf-8")
//{% endcompress %}
