extends blog/base.pug

block body
  .container
    .row
      .col.s12.m9.l10
        .post
          {{ post.content_html | safe }}

      .col.m3.l2.hide-on-small-only
        {{ post.content_toc | safe }}

